.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.video{
    background-color: white;
    width: 60%;
    padding: 15px;
    margin: 5% 5%;
    box-shadow: 0px 0px 10px 3px lightgray;
    border-radius: 4px;
}
.prevButton,.nextButton{
    font-size: 50px;
    cursor: pointer;
    margin: 0 50px;
}


@media (max-width: 500px) {
    .video {
      width: 80%;
      margin: 5%;
    }
  
    .prevButton, .nextButton{
      display: none;
    }
    .shortVideo video{
        width: 90%;
    }
  }

  @media (max-width: 1500px) {
    .video {
      width: 80%;
      margin: 5%;
    }
  
    .shortVideo video{
        width: 90%;
    }
  }